@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	@include source-sans-pro(400);
	font-size: 18px;
	line-height: 26px;

    @include mobile_landscape {
        font-size: 16px;
        line-height: 23px;
    }
}

body {
	background-color: $lightgrey;
}

p {
	margin-bottom: 20px;

	&.header {
		font-size: 27px;
		line-height: 29px;
	}

	&.large {
		font-size: 23px;
		line-height: 27px;

        @include tablet_landscape {
            font-size: 18px;
            line-height: 23px;
        }

        @include mobile_landscape {
            font-size: 16px;
            line-height: 23px;
        }
	}

	&.small {
		font-size: 14px;
		line-height: 24px;
	}
}

h1 {
	@include source-sans-pro(900)
	font-size: 48px;
	line-height: 52px;

    @include tablet {
        font-size: 35px;
        line-height: 40px;
    }

    @include mobile_landscape {
        font-size: 25px;
        line-height: 25px;
    }
}

h2 {
	@include source-sans-pro(700)
	font-size: 24px;
	line-height: 27px;

    @include mobile_landscape {
        font-size: 20px;
        line-height: 23px;
    }
}

h3 {
	@include source-sans-pro(700)
	font-size: 14px;
	line-height: 17px;
}

p, h1, h2, h3 {
	color: $textgrey;
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

a, a:visited {
    color: $orange;
    text-decoration: none;
	transition: color .2s ease-in-out;

	&:hover {
		color: $textgrey;
	}
}

a:focus, a:active {
    text-decoration: none;
    outline: 0;
}

/*==================================
HELPERS
==================================*/

/*=== Colors ===*/

.white {
	color: $white;
}

.orange {
	color: $orange;
}

.yellow {
	color: $yellow;
}

/*=== Alignment ===*/

.center {
    text-align: center;
}

/*=== Margins ===*/

.margin_bottom_0 {
	margin-bottom: 0px;
}

.margin_bottom_40 {
    margin-bottom: 40px;
}

/*=== Fonts ===*/

.uppercase {
	text-transform: uppercase;
}

/*==================================
COMPONENTS
==================================*/

/*=== Lists ===*/

ul {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
}

li {
    margin-left: 1em;
}

/*=== Featured Media in Pages & Posts ===*/

.featured_media img {
    width: 100%;
    display: block;
}

.featured_media .audio iframe {
    width: 100%;
}

/*=== Tag ===*/

h3.orange_tag {
	display: inline-block;
    margin-bottom: 0px;
    background: $orange;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 20px;

    &.small {
    	font-size: 14px;
    }

    @include mobile_landscape {
        font-size: 18px;
    }
}

/*=== Buttons ===*/

a.gold_button {
	display: inline-block;
	font-weight: 700;
    text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
	padding: 20px 50px;
	background: $gold;
	color: $white;
    border: 0;
    transition: all .3s ease-in-out;

    &:hover {
        background: rgba($gold,.8);
        color: $white;
    }

    &:visited, &:active {
        color: $white;
    }

    @include tablet_landscape {
        font-size: 14px;
        line-height: 20px;
    }
}

.transparent_button {
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid;
	color: inherit;
    transition: all .3s ease-in-out;

    img {
        display: inline-block!important;
        padding-left: 10px;
        vertical-align: middle;
        width: 32px!important;
    }

    &:hover {
        color: $orange;
    }

    @include mobile_landscape {
        font-size: 12px;
    }
}

button#load-more {
    background: $gold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    border-radius: 0px;
    height: auto;
    padding: 20px 50px;
    @include source-sans-pro(700);
}

/*=== Social Icons ===*/

ul.social_icons li {
    display: inline-block;
    margin-right: 10px;
}

/*=== Close Icon ===*/

.close_icon {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/*=== Gallery Grid ===*/

.gallery {
    margin-bottom: 0px;
}

.gallery-item {
    max-width: 100%;
    margin: 0px 0px 15px;
    padding: 0px 7.5px;

    img {
        width: 100%;
    }

    @include mobile_landscape {
        width: 50%;
    }
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-3 .gallery-item {
    width: 33.33%;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

/*==================================
SLIDERS
==================================*/

/*=== General Slider ===*/

.flexslider {
    border: 0px;
    background: none;
}

.flexslider .slides img {
    width: 100%;
    display: block;
    height: auto;
}

.flex-direction-nav a {
    width: 20px;
    height: 40px;

    @include mobile_landscape {
        display: none;
    }
}

/*=== Futuro Slider ===*/

#futuro_slider {
    margin: 0px;
}

#futuro_slider {
    .flex-direction-nav .flex-prev {
        background-image: url('../img/white_arrow_left.png');
        background-size: cover;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        background-image: url('../img/white_arrow_right.png');
        background-size: cover;
        right: 10px;
    }
}

/*=== Homepage Slider ===*/

div#homepage_slider {
    margin: 0px 0px 15px;
    position: relative;
}

// Slider Content

.slide_container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 20px;
    width: 100%;
    background: linear-gradient(transparent, $black);

    @include tablet {
        position: relative;
        padding: 20px;
    }
}

.slide_content {
    max-width: 750px;

    h1 {
        color: $white;

        @include tablet {
            font-size: 25px;
            line-height: 30px;
            padding: 20px 0px;
        }
        @include mobile {
            font-size: 20px;
            line-height: 20px;
        }

    }
}

#homepage_slider a.transparent_button {
    position: absolute;
    right: 20px;
    bottom: 60px;
    color: $white;
    border: 2px solid $white;

    @include tablet_landscape {
        position: relative;
        right: 0px;
        bottom: 10px;
    }

    &:hover {
        color: $orange;
    }
}

// Navigation Arrows

#homepage_slider {

    .flex-direction-nav {
        @include tablet {
            display: none;
        }
    }

    .flex-direction-nav .flex-prev {
        background-image: url('../img/grey_arrow_left.png');
        background-size: cover;
        left: -40px;
    }

    .flex-direction-nav .flex-next {
        background-image: url('../img/grey_arrow_right.png');
        background-size: cover;
        right: -40px;
    }
}

/*=== Testimonial Slider ===*/

#testimonial_slider {
    margin-bottom: 0px;
}

#testimonial_slider  {
    .flex-direction-nav .flex-prev {
        background-image: url('../img/white_arrow_left.png');
        background-size: cover;
        left: 10px;
        margin-top: -50px;
    }

    .flex-direction-nav .flex-next {
        background-image: url('../img/white_arrow_right.png');
        background-size: cover;
        right: 10px;
        margin-top: -50px;
    }
}

/*==================================
STRUCTURE
==================================*/

.main_content {
    position: relative;
    z-index: 10;
    opacity: 0;
    top: 30px;
    transition: all .5s ease-in-out;

    &.page_loaded {
        top: 0px;
        opacity: 1;
    }
}

main.main_wrapper, .container {
	max-width: 1240px;
	width: 90%;
	margin: 0 auto;
	position: relative;
}

main.main_wrapper {
	margin: 0 auto 15px;
}

#main.with_header_image {
    margin-top: -100px;
    z-index: 10;

    @include tablet {
        margin-top: 15px;
    }
}

section.page_content {
    background: white;
    padding: 20px;
}

.white_background_section {
    background-color: $white;
    padding: 40px 20px;
    margin-bottom: 15px;
    display: block;
}

.grey_background_section {
    background-color: $boxbackgroundgrey;
    padding: 40px 20px;
    margin-bottom: 15px;
}

/*=== Column & Sidebar Layout ===*/

.futuro_main_column .content {
    background: $white;
    padding: 15px;
    margin-bottom: 15px;
    overflow: auto;

    @include mobile_landscape {
        padding: 15px;
    }
}

.column_1_3.futuro_sidebar {
    @include tablet {
        display: none;
    }
}

/*==================================
PRELOADER
==================================*/

.preloader {
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 49%;
    width: 32px;
    height: 32px;
    margin: 20px auto;

    animation: spVolRot .6s infinite linear;
}

.preloader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 5px;
    background-color: #fea200;
}

@keyframes spVolRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

/*==================================
MAIN NAVIGATION
==================================*/

// Header Banner

.header_banner {
    a {
        display: block;
    }
    img {
        display: block;
        width: 100%;
    }
}

header.site_header {
    background: #fff;
    position: relative;
    margin: 20px 0px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.22);
    z-index: 10;
}

/*=== If modal Window is open then lower the navs z-index ===*/

/* .modal_open header.site_header {
    z-index: 9;
} */

nav.main_navigation {
    display: flex;
    justify-content: space-around;
}

.main_navigation .logo img {
    @include mobile_landscape {
        width: 75px;
    }
}

a.nav_item {
	color: $navigationgrey;
	@include source-sans-pro(600);
	text-transform: uppercase;
    text-align: center;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: .4px;
    border-right: 1px solid $lightgrey;
    display: inline-block;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s ease-in-out;

    &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(7) {
    	width: 15%;
        @include tablet {
            width: 33.33%;
        }
    }

   &:nth-child(2), &:nth-child(5) {
    	width: 20%;
        @include tablet {
            width: 33.33%;
        }
    }

    &:hover {
        color: $orange;
    }

    @media all and (max-width: 1100px) {
        font-size: 14px;
    }

    @include mobile_landscape {
        height: 60px;
    }

}

/*=== Remove border on last nav item next to the gold donate button ===*/

.main_navigation a.nav_item:nth-child(5) {
    border-right: 0px;
}

.main_navigation a.nav_item {
    &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        @include tablet {
            display: none;
        }
    }
}

a.nav_item:last-child {
	background: $gold;
	border-right: 0;
	color: $white;
    transition: all .3s ease-in-out;

    &:hover {
        background: rgba($gold,.8);
    }
}

/*=== Current Page Highlights ===*/

.page-template-media_properties .main_navigation a:nth-child(2), .single-futuro_properties .main_navigation a:nth-child(2), .page-template-about .main_navigation a:nth-child(3), .page-template-news .main_navigation a:nth-child(4), .page-template-corporate_sponsorship .main_navigation a:nth-child(5) {
    color: $orange;
}

/*=== Menu Icon displayed starting at tablet ===*/

a.nav_item.menu_icon {
    display: none;
    width: 33.33%;

    @include tablet {
        display: inherit;
    }

    i {
        padding-left: 10px;
    }
}

/*=== Mobile Menu ===*/

ul#mobile_navigation {
    
    position: relative;
    z-index: 8;
    max-height: 0px;
    opacity: 0;
    list-style-type: none;
    background: $white;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease-in-out;

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
        margin-bottom: 15px;
    }

}

ul#mobile_navigation li {
    border-bottom: 1px solid $lightgrey;
    padding: 10px 0px;
    font-size: 14px;

    a {
        color: $navigationgrey;

        &:hover, &:focus {
            color: $orange;
        }
    }
}

/*==================================
HEADERS
==================================*/

header.page_header {
	margin-bottom: 15px;

    &.margin_bottom_0 {
        margin-bottom: 0px;
    }
}

header.page_header .header_content {
	background: $white;
	padding: 20px;

	p {
		font-size: 27px;
		line-height: 29px;
		max-width: 780px;
		width: 100%;
		margin-bottom: 0px;

        @include tablet_landscape {
            font-size: 20px;
            line-height: 25px;
        }

        @include mobile_landscape {
            font-size: 18px;
            line-height: 22px;
        }
	}

    @include tablet {
        padding: 15px;
    }
}

/*=== Button styling in header on Media Property Pages ===*/

.header_content a.transparent_button {
    position: absolute;
    right: 36px;
    top: 4%;
    border: 2px solid $boxbackgroundgrey;
    color: $textgrey;

    &:hover {
        background: transparent;
        color: $orange;
    }

    @media all and (max-width: 1200px) {
        position: relative;
        right: initial;
        top: 0px;
        margin-top: 10px;
    }
}

/*=== Center header styling ===*/

header.page_header .header_content.center {
    p {
        margin: 0 auto;
    }
}

/*=== Full Width Heder Image ===*/

header.header_image {
	img {
		display: block;
		width: 100%;
	}
}

/*==================================
GRID
==================================*/

.futuro_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -7.5px;

    @include tablet {
        margin: 0px;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4, .column_1_5 {
	position: relative;
	margin: 0px 0px 15px;
	padding: 0px 7.5px;
	float: left;
	display: inline-block;

	img {
		display: block;
	}

    @include tablet {
        padding: 0px;
    }
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include tablet {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include tablet {
    	width: 100%;
        padding: 0px;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_5 {
    width: 20%;

    @include tablet {
        width: 50%;
    }
}

/*=== Stretch columns so their content blocks are the same height ===*/

.stretch_height {
    display: flex;
    flex-direction: column;
}

.stretch_height .content {
    position: relative;
 	display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/*==================================
FUTURO BLOCKS
Styling for consistent cards used across 
areas of the site and the hover effects.
==================================*/

.futuro_blocks a {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/*=== Image Styling ===*/

.futuro_block_image {
    width: 100%;
    display: block;
}

/*=== Content Area ===*/

.futuro_blocks .content {
    background: $white;
    padding: 30px;
    border-bottom: 3px solid $white;
    transition: all .3s ease-in-out;

    h3 {
        color: $navigationgrey;
        transition: color .3s ease-in-out;
    }

    @include tablet {
        padding: 20px;
    }
}

// Flex the paragraph column so the Learn more links are parallel between blocks

.futuro_blocks p.large {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

// Add an orange highlight on hover of a Futuro block

.futuro_blocks a:hover .content {
    border-bottom: 3px solid $orange;

    h3 {
        color: $orange;
    }
}

// Bottom link styling

.external_news_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.external_news_link p {
    display: inline-block;
    margin-bottom: 0px;
}

.external_news_link img {
    display: inline-block;
    width: 25px;
    transform: translateX(0px);
    backface-visibility: hidden;
    transition: .3s transform ease-in-out;
}

// Move the arrow for futuro blocks that link to external news artices

.futuro_blocks a:hover .external_news_link img {
    transform: translateX(10px);
}

/*==================================
SIDEBARS
==================================*/

.sidebar_module {
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;

    img {
        display: block;
        width: 100%;
    }
}

/*=== News Widget in Sidebar on Media Properties Page ===*/

a.sidebar_news_post_container {
    overflow: auto;
    margin-bottom: 25px;
    display: block;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in-out;

    &:last-child {
        margin-bottom: 0px;
    }
}

.sidebar_news_post_container .image {
    width: 30%;
    display: inline-block;
    float: left;
    padding-right: 15px;

    img {
        box-shadow: 0px 2px 13px rgba(0,0,0,.6);
    }
}

.sidebar_news_post_container .text {
    float: left;
    display: inline-block;
    width: 70%;
}

.sidebar_news_post_container .text p {
    font-size: 12px;
    line-height: 15px;
    transition: all .3s ease-in-out;
}

.sidebar_news_post_container:hover p.title {
    color: $orange;
}

.date_media_outlet {
    margin-bottom: 0px;
    color: $mediumgrey;
    
    span.date {
        text-transform: uppercase;
    }
}

/*==================================
HOMEPAGE
==================================*/

/*=== About ===*/

section.homepage_about {
	background: $orange;
	padding: 40px 30px;
	margin-bottom: 15px;
	position: relative;

	p {
		max-width: 770px;
	}

	img {
	    position: absolute;
	    right: 0;
	    bottom: 0;

        @include tablet {
            width: 100px;
        }
	}

    @include mobile_landscape {
        padding: 20px;
    }
}

/*=== News Feed ===*/

.homepage_newsfeed {
    display: flex;
    flex-flow: row wrap;
}

/*=== Newsfeed title block ===*/

.homepage_newsfeed .title {
    width: 20%;
    padding: 15px;
    background: $boxbackgroundgrey;
    margin-bottom: 0px;
    color: $white;

    @include mobile_landscape {
        width: 100%;
    }
}

.homepage_newsfeed .title a {
    position: absolute;
    bottom: 33px;
    color: $white;
    font-size: 14px;

    @include mobile_landscape {
        position: relative;
        bottom: 0px;
    }
}

/*=== Newsfeed clickable blocks ===*/

.homepage_newsfeed a.homepage_newsfeed_block {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background: $white;
    border-right: 1px solid $lightgrey;

    &:last-child {
        border-right: 0px;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

/*=== Twitter Feed ===*/

.homepage_twitter_feed iframe {
    background: $white;
}

/*==================================
MEDIA PROPERTIES
==================================*/

.thumbnail_image img {
    width: 100%;
}

.media_property_logo {
    margin: -100px 0px 20px;

    img {
    	background: #fff;
	    display: inline-block;
        transform: translateY(0px);
        -webkit-backface-visibility: hidden;
	    padding: 10px;
	    box-shadow: 0 0 8px rgba(0,0,0,.5);
	    transform: translateY(0px);
	    transition: all .2s ease-in-out;
        @include mobile_landscape {
            width: 100px;
        }
    }

    @include mobile_landscape {
        margin: -80px 0px 20px;
    }
}

// Special hover effect for media properties

.futuro_blocks a:hover .media_property_logo img {
	transform: translateY(-10px);
}

.partnership {
	display: flex;
	align-items: center;
	position: absolute;
    right: 25px;
    top: 25px;

    @include tablet_landscape {
        position: relative;
        right: 0px;
        top: 0px;
    }
}

.partnership h3 {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	color: $navigationgrey;
}

.partnership img {
    display: inline-block;

    @include mobile_landscape {
        width: 50px;
    }
}

/*==================================
SINGLE MEDIA PROPERTY
==================================*/

/*=== Explore our properties grid ===*/

.related_media_property .logo {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 30px;
    width: 100px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 2px 13px rgba(0,0,0,.22);
    transform: translateY(0px);
    transition: all .3s ease-in-out;

    @include mobile_landscape {
        width: 80px;
    }

    @include mobile {
        width: 60px;
        margin-top: -30px;
    }
}

.related_media_property a:hover .logo {
    transform: translateY(-3px);
}

.related_media_property img {
    width: 100%;
}

/*==================================
CORPORATE SPONSORSHIP
==================================*/

/*=== Advantages Block ===*/

section.sponsorship_advantages {
    background: $orange;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    margin-bottom: 15px;
}

.advantage_block {
    width: 30%;
    text-align: center;

    img {
        margin-bottom: 30px;

        @include tablet_landscape {
            width: 150px;
            margin-bottom: 20px;
        }
    }

    p {
        color: $white;
        margin-bottom: 0px;
    }

    @include tablet {
        width: 100%;
        margin-bottom: 20px;
    }
}

.operator_block {
    margin-bottom: 20px;
}

/*=== Our Reach ===*/

.our_reach img {
    margin: 0 auto 30px;
    width: 120px;
    height: 120px;
}

.our_reach p {
    margin-bottom: 0px;
}

/*=== Testimonials ===*/

.testimonial_content {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;

    p {
        margin-bottom: 30px;
    }
}

/*=== Become A Sponsor ===*/

#become_a_sponsor .content {
    max-width: 623px;
    margin: 0 auto;
    text-align: center;
}

/*==================================
FUNDERS
==================================*/

.page-template-sponsors .column_1_3 {
    @include tablet {
        width: 50%;
    }
}

/*==================================
OUR TEAM
==================================*/

/*=== Team Member Grid ===*/

.team_grid .column_1_5 {
	border-radius: 50%;
    cursor: pointer;

    @include tablet {
        padding: 0 7.5px;
    }
}

.team_member {
	position: relative;
    border-radius: 50%;
    display: block;
    img {
		border-radius: 50%;
        width: 100%;
	}
}

/*=== Overlay Transition ===*/

.team_member:before {
    border-radius: 50%;
    @include overlay(rgba($orange,0));
    transition: all .3s ease-in-out;
}

.team_member:hover:before {
	background: rgba($orange, .6);
}

/*=== Name ===*/

.team_member .name {
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    color: $white;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.team_member:hover .name {
	opacity: 1;
	top: 50%;
}

/*=== Modal Styling ===*/

html.modal_open {
  overflow: hidden;
}

.modal_popup {
    position: fixed;
    cursor: pointer;
    background: rgba(0,0,0,.7);
    left: 0;
    bottom: 100%;
    z-index: -99;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out, z-index 0s 1s;
    overflow-y: hidden;

    &.visible {
      opacity: 1;
      z-index: 99;
      bottom: 0;
      transition: opacity .5s ease-in-out;
      overflow-y: scroll;
    }
}

.modal_popup .container {
    background: $white;
    padding: 20px;
    top: 50%;
    margin-top: -200px;
    cursor: default;
    max-height: 400px;
    overflow-y: scroll;
    transform: translateY(50px);
    transition: transform .5s ease-in-out;
    h2 {
        margin-bottom: 10px;
    }
    h3 {
        color: $orange;
        text-transform: uppercase;
    }
}

.modal_popup.visible .container {
    transform: translateY(0px);
}

.modal_close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

/*==================================
DONATE / GRAVITY FORMS STYLING
==================================*/

span.familia {
    font-size: 12px;
    color: $orange;
}

.gform_wrapper {
    max-width: 100% !important;
    margin: 0px !important;
}

.gform_heading {
    background: #fff;
    width: 100% !important;
    margin: 0px !important;
    padding: 20px 10px 20px;

    h3 {
        color: $orange;
        margin: 0px !important;
        font-size: 30px !important;
    }
}

.gform_body {
    background: #fff;
    padding: 0px;

    input, textarea, select {
        border: 0px !important;
        border-radius: 0px !important;
        background: #f8f8f8;
        outline: none;
        width: 100% !important;
    }

    textarea {
        padding: 10px !important;
    }

    select {
        height: 32px;
        -webkit-appearance: none !important;
    }
}

.gform_wrapper .gsection {
    margin: 0px !important;
}


.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label, .gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: 300;
}

.gform_footer.top_label {
    text-align: center;

    .gform_button {
        background: $textgrey;
        color: #fff;
        -webkit-appearance: none !important;
        box-shadow: none;
        padding: 20px 50px;
        @include source-sans-pro(700);
        letter-spacing: 1px;
        font-size: 18px !important;
        line-height: 22px;
        text-transform: uppercase;
        border: 0;
        border-radius: 0;

        &:hover {
            background: $textgrey;
        }
    }
}

/*=== Frequency Selection Style ===*/

.frequency_selection ul.gfield_radio li {
    color: #000;
    width: 50%;
    float: left;
    background: $lightgrey;
    transition: all .3s ease-in-out;

    &.frequency_on {
        color: $white;
        background: $orange;
    }

    input {
        visibility: hidden;
    }

    label {
        display: block;
        padding: 10px 0px !important;
        cursor: pointer;
    }
}

/*=== Donation Ammount Circles ===*/

#field_2_14 .gfield_label {
    display: none;
}

.gform_body ul.gform_fields .donation_ammount li {
    display: inline-block;
    width: 20%;
    float: left;
    padding: 0px 10px !important;
    margin-bottom: 20px;

    @media all and (max-width: 1100px) {
        width: 33.33%;
    }

    @include mobile {
        width: 50%;
    }
}

.donation_ammount li input {
    display: none;

    @include tablet {
        display: block;
    }
}

.donation_ammount li label {
    margin: 0px !important;
    text-align: center;
    padding: 0px!important;
    color: $black;
    border: 2px solid $lightgrey;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500 !important;
    cursor: pointer;
    height: 120px;
    width: 120px !important;
    display: flex !important;
    flex-flow: column;
    justify-content: center;

    @include tablet {
        border: 0px;
        padding: 0px 0px 0px 20px !important;
        width: auto !important;
        height: auto !important;
        text-align: left;
    }
}

.donation_ammount li input:checked + label {
    background: rgba($lightgrey,.3);
    color: $orange;

    @include tablet {
        background: transparent;
    }
}

/*=== Hide Newsletter Label ===*/

#field_3_30 {

    label.gfield_label {
        display: none;
    }

    label#label_3_30_1 {
        font-weight: 400;
    }
    
}

/*=== Price ===*/

.gfield_total_3_ {
    background: #f8f8f8;
    padding: 20px;
}

.gform_wrapper span.ginput_total {
    color: $orange !important;
    font-weight: 600;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label {
    font-weight: 300 !important; 
}

/*=== Footer ===*/

.gform_wrapper .gform_footer.top_label {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/*=== Mobile ===*/

@include mobile {
    .gf_left_half, .gf_right_half {
        width: 100% !important;
    }
}


/*==================================
NEWS
==================================*/

/*=== Ajax Load More Container ===*/

.alm-reveal {
    display: flex;
    flex-flow: row wrap;
}

/*=== Date Select Dropdown ===*/

.futuro_date_select {
    position: absolute;
    right: 20px;
    top: 45px;
    display: inline-block;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0px;
        padding: 15px 50px;
        border: 0;
        background: $boxbackgroundgrey;
        color: $white;
        cursor: pointer;
        text-indent: 20px;

        @include tablet {
            padding: 10px 30px;
        }
    }

    @include tablet {
        top: 33px;
    }

    @include tablet {
        top: 0px;
        position: relative;
        right: 0;
        margin-top: 20px;
    }
}

.archive .futuro_date_select {
    top: 20px;

    @include tablet {
        top: 0px;
    }
}

.futuro_date_select:after {
    border-color: $white transparent transparent;
    border-style: solid;
    border-width: 0.35em 0.35em 0;
    top: 25px;
    color: #fff;
    content: "";
    display: block;
    right: 45px;
    position: absolute;
    width: 0;

    @include tablet {
        top: 20px;
        right: 29px;
    }
}

/*=== News Item Container ===*/

p.news_title {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/*==================================
FOOTER
==================================*/

/*===Footer Top ===*/

section.footer_top {
	background: $footergrey;
	padding: 30px 0px;

	p, li, a {
		color: $white;
		font-size: 14px;
	}
}

.footer_top a:hover {
	color: $orange;
}

.footer_top .container {
    display: flex;
    flex-flow: row wrap;
}

.footer_top ul, .footer_bottom ul {
	list-style-type: none;
    margin-bottom: 0px;
}

// Email Signup

.mc_embed_signup input {
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
}

.mc_embed_signup input[type="submit"] {
    background: $gold;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
}

.mce-responses .response {
    font-size: 10px;
    color: $white;
}

/*=== Footer elements sizing ===*/

.footer_logo {
    width: 5%;

    img {
    	display: block;
        margin: 0 auto;
    }

    @include tablet {
        width: 100%;
        margin-bottom: 15px;
    }
}

.footer_text {
    width: 45%;
    padding: 0px 20px;

    @include tablet {
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
        text-align: center;
    }
}

nav.footer_nav {
    width: 20%;

    @include tablet {
        display: none;
    }
}

.footer_top ul.social_icons {
    width: 10%;
    text-align: right;

    @include tablet {
        width: 100%;
        text-align: center;
    }
}

/*===Footer Bottom ===*/

section.footer_bottom {
	background: $white;
	text-align: center;
	padding: 40px 0px;

	h3 {
	    color: $navigationgrey;
	    margin-bottom: 10px;
	}
}

/*=== Footer bottom navigation items ===*/

ul#menu-media-properties li {
    display: inline-block;
    font-size: 14px;
}

ul#menu-media-properties li a {
	color: $black;
	padding: 0px 10px;

	&:hover {
		color: $orange;
	}
}

ul#menu-media-properties li:after {
    content: "|";
    color: $lightgrey;
}

ul#menu-media-properties li:last-child:after {
    content: "";
}