/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;

// Greys

$textgrey: #2C2C2C;
$navigationgrey: #656565;
$boxbackgroundgrey: #A6A6A6;
$footergrey: #343334;
$lightgrey: #D9E0E2;
$mediumgrey: #5E5E5E;

// Vibrants

$orange: #F05F40;
$yellow: #FDDB9E;
$gold: #FEA200;